.textarea-caracteres strong{
    font-weight: bold;
    color: var(--color-secondary);
}
.textarea-caracteres{
    text-align: right;
    font-size: 12px;
    color: #7c7c7c;
}
.textarea-content{
    margin-top: 5px;
    width: 100%;
}
.textarea-aplausos{
    min-height: 250px;
    resize: none;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: #555;
}

.disabled .container-richtext{
    filter: blur(2px);
    cursor: not-allowed;
}
.container-richtext{
    margin-bottom: 50px;
    position: relative;
}

.disabled .counter-frame{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.counter-frame{
    display: none;
}
.card-aplausos-content:nth-child(1) .single-card-aplausos-2.active{
    background: #f6feff
}

.card-aplausos-content:nth-child(2) .single-card-aplausos-2.active{
    background: #fffaf5
}
.card-aplausos-content:nth-child(3) .single-card-aplausos-2.active{
    background: #fff6f7
}
 .aplausos-button-2:disabled,
 .aplausos-button-2.disabled{
    background: #dadada;
    color: #eaeaea;
    border-color: #e8e8e8;
    cursor: not-allowed;
}



.buscar-respuestas{
    display: block;
    background: white;
    text-align: left;
    border-radius: 10px;
}

.buscar-option strong{
    color: var(--color-secondary)
}
.buscar-option{
    display: block;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    color: var(--color-primary);
    text-decoration: none;
}

.form-buscar{
    margin: 0;
    display: flex;
    justify-content: space-between;
    grid-auto-flow: column;
    margin-bottom: 10px;
}

.buscar-option:hover{
    color: var(--color-cuartiary)
}

.encabezado-cards{
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    float: left;
    color: #707070;
    
}
.single-card-aplausos-2{
    background: #FFFFFF;
    box-shadow: 0px 15px 10px rgba(210, 210, 210, 0.25);
    border-radius: 10px;
    width: 304px;
    height: 138px;
    justify-content: center;
    padding: 0px 0px 0px 12px;
    margin: 0 auto;
    cursor: pointer;
}

.img-card-aplusos-2{
    margin-left: 29px;
    margin-top: -41px;
    width: 41px;
}
.img-card-aplusos-2-repeat{
  
    margin-top: -33px;
    Width: 41px;
    margin-left: 100px;
}

.cards-principal-aplausos-2{
    padding-bottom: 50px;
    padding-top: 72px;
}
.aplausos-button-2{
    /*margin: 0px 171px 0px 0px;*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}