@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Roboto Lighter';
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: lighter;
}
  
@font-face {
    font-family: 'Roboto Bolder';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bolder;
    font-style: bolder;
}
  
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

:root{
    --color-primary: #60C4D6;
    --color-secondary: #eea556;
    --color-terciary: #e84554;
    --color-cuartiary: #326D78;
    --font-primary: Roboto;
}

.note-editor{
    background: white;
}
.card-body{
    flex: inherit;
}
html{
    height: 100%;
    min-height: 100%;
}
body{
    background: url(../../../../Images/Reconocimiento/Group.svg) !important;
    background-color: #F6F6F6 !important;
    background-repeat: no-repeat !important;
    height: 100vh !important;
    font-family: var(--font-primary) !important;
    background-repeat: no-repeat !important;
    background-position: bottom left !important;
    font-family: var(--font-primary) !important;
    background-size: calc(100vh/2) !important;
}
.site {
    position: relative;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.site::after {
    content: url(../../../../Images/Reconocimiento/deco-background.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.header-principal{
    background: white;
    box-shadow: 0 0 10px #000;
}
.main-container-content {
    max-width: 1500px;
    margin: 0 auto;
}





.details{
    color: #707070;
    font-family: 'Roboto Bolder';
}
.detalle{
    font-size: 20px;
    color: #707070;
    font-family: 'Roboto';
}
.section{
    
    align-items: center;
}
.card__img{

    width: 200px;
    height: 200px;
   
    position: absolute;
    top: -70px;
    left: calc(41% - 44px);
    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}
.nav-position{
    margin-left: 108px;
}

.cards-principal{
    padding-bottom: 80px;
    padding-top: 50px;
}

.nav-link{

    margin-right: 35px;
    
}

.card-p{
    text-align: center;
}



.card-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;

color: #484848;
padding-left: 20px;
padding-right: 20px;
background-color: rgba(255, 255, 255, 1);
}
.card-final{
    margin-bottom: 43px;
    text-align: center;
    padding: 2em;
    position: relative;
    top: -4%;
}


.title-card-final {
   margin-top: 2em;
}

.card-button-mas{
    border-radius: 50%;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(141, 141, 141, 0.25);
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}



.modal {
    position: relative !important;
    top: -335px !important;
}

.nav-principal{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search{
   color: #326D78;
   font-size: 24px;
   text-align-last: left;
    font-family: var(--font-primary);
}

.busqueda{
    padding-top: 115px;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}
.boton-busqueda:hover img{
    filter: brightness(4);
}
.boton-busqueda:hover{
    background: #336F7B;
    color: white;
}
.boton-busqueda{
    background: #F4FDFF;
    border: 1px solid #336F7B;
    box-sizing: border-box;
    border-radius: 5px;
    width: 185px;
    height: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: #336F7B;
    display: -webkit-inline-box;
    box-shadow: 0px 4px 4px rgba(143, 143, 143, 0.25);
    min-width: 170px;
}

.span5{
    border-radius: 5px;
    width: 100%;
    height: 68px;
    box-shadow: 0px 4px 4px rgb(143 143 143 / 25%);
    padding: 20px;
    border: 1px solid #707070;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    margin-right: 10px;
}

.hide {
    display: none;
}

.card-perfil-1{
    place-content: center;
}
.card-perfil-2{
    padding-top: 100px;
}

.card__img-perfil{
    width: 100px;
    height: 100px;
   
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
   

    padding: 9px;
}

.hands{
    width: 71px;
height: 64px;
}

.contenedor{
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: -30px;
    left: 121px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;

color: #000000;
}
.centrado{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #000000;
}

.card-secundary{
    padding-top: 200px;
}
.encabezado-card{
    width: 311px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    align-self: center;
    margin: 100px 100px 32px 100px;
    padding: 1em;
}

.encabezado-card-1{
    color: #60C4D6;
}
.encabezado-card-2{
    color:#EEA557;
}
.encabezado-card-3{
    color: #E84555;
}


.encabezado-card-perfil{
    width: 311px;
    height: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #60C4D6;
    align-self: center;
    margin-top: 90px;
}
    
.encabezado-card-2-perfil{
    width: 311px;
    height: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color:#EEA557;
    align-self: center;
    margin-top: 90px;
}
    
.encabezado-card-3-perfil{
    width: 311px;
    height: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #E84555;;
    align-self: center;
    margin-top: 90px;
}
    
.rectangle{
    width: 106px;
height: 3px;
left: 316px;
top: 789px;

background: #5AB8C9;
align-self: center;
}

.rectangle-2{
    width: 106px;
    height: 3px;
    left: 316px;
    top: 789px;
    
    background: #EFA658;
    align-self: center;
}
.rectangle-3{
    width: 106px;
    height: 3px;
    left: 316px;
    top: 789px;
    
    background: #E84656;
    align-self: center;
}
.objetivos{
    color: #326D78;
}

.img-nav{
    width: 28.82px;
    height: 33.65px;
}

.single-card{
    border-radius: 11px;
    border-top: 9px solid #60C4D6;
    box-shadow: 0px 15px 10px rgba(210, 210, 210, 0.25);
}
.single-card-2{
    border-radius: 11px;
    border-top: 9px solid #EEA557;
    box-shadow: 0px 15px 10px rgba(210, 210, 210, 0.25);
}
.single-card-3{
    border-radius: 11px;
    border-top: 9px solid #E84555;
    box-shadow: 0px 15px 10px rgba(210, 210, 210, 0.25);
}
.single-card-perfil{
    
    box-shadow: 0px 15px 10px rgba(210, 210, 210, 0.25);
    padding-top: 7px;

   
}
.single-card-2-perfil{
   
    box-shadow: 0px 15px 10px rgba(210, 210, 210, 0.25);
    padding-top: 7px;
    
}
.single-card-3-perfil{
   
    box-shadow: 0px 15px 10px rgba(210, 210, 210, 0.25);
    padding-top: 7px;
}


.single-cards-item {
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding: 8px;
}


.single-cards-color {
     color: #006F7A;
}


.single-card-color-2 {
    color: #F6CA67;
}


.single-card-color-3 {
    color: #E94656;
}


.single-card-list {
    list-style-image: url(../../../../Images/Reconocimiento/deco-single-card.svg);
    font-family: 'Roboto';
    margin: 15px;
    display: none;
    transition: all 100ms ease;
}


.single-card-list-2 {
    list-style-image: url(../../../../Images/Reconocimiento/deco-single-card-2.svg);
    font-family: 'Roboto';
    margin: 15px;
    display: none;
    transition: all 100ms ease;
}


.single-card-list-3 {
    list-style-image: url(../../../../Images/Reconocimiento/deco-single-3.svg);
    font-family: 'Roboto';
    margin: 15px;
    display: none;
    transition: all 100ms ease;
}


.img-arrow {
    display: none;
}


.expertia{
    color: #EDA354;
}

.img-nav,
.img-nav-hover{
  -webkit-transition: 0.3s;
   transition:  0.3s;
   margin-right: 5px;
   width: 37px;
   height: 37px;
}


.img-nav-hover {
    display: none;
}


.nav-link:hover > .img-nav {
    display: none;
}

.nav-link:hover > .img-nav-hover {
    display: initial;
}

.nav-link:hover {
    color: red !important;
}

.container-nav-item {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}


.nav-link{
   
    -webkit-transition: 0.3s;
   transition:  0.3s;
   width: 100%;
}


.nav-link:active{
    color: red;
}
.nav-link:disabled{
    color: #CBD5ED;
}
.my-card{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
.text{
    color: #336F7B;
}
.border-left{
    padding-left: 33px;
}


  .box{
      padding:60px 0px;
  }
  
  .box-part{
      background:#FFF;
      border-radius:0;
      padding:60px 10px;
      margin:30px 0px;
  }
  .text{
    margin: 0;
    font-size: 50px;
  }
  
  .img-card-perfil{
    width :50px;
    height :  49,22px;
    margin-left:8px;
  }
  .line-perfil{
    position: relative;
    width: 100%;
    height: 0px;
    left: 0;
    display: block;
    top: 0;
    border: 0.5px solid #ececec;
    box-shadow: 0px 2px 0px #ffffff;
    margin-bottom: 60px;
  }
  .perfil-text{
    text-align: center;
    color:#707070;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    padding-bottom: 83px;
  }
  .aplaudir:hover img{
    filter: brightness(4);
  }
  .aplaudir:hover{
    background-color: #336F7B;
    color: white;
  }
  .aplaudir{
    text-decoration: none;
    display: inline-flex;
    width: auto;
    padding: 20px 40px;
    background: #F4FDFF;
    border: 2px solid #336F7B;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #336F7B;
    transition: all .3s ease;
    justify-content: center;
    align-content: center;
    align-items: center;
  }


  .form-aplausos-2 {
      width: 100%;
      max-width: 1500px;
      margin: 0 auto;
  }

  .aplausos{
    height: 40px;
    width: 40px;
    margin-right: 10px; 
}
  .img-thumbnail{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: .25rem;
    max-width: 115%;
    height: auto;
  }

  .profile-descriptions{
    list-style: none;
    margin:0;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: inherit !important;
    text-align: center;
}
  .perfil-descripcion{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    padding-bottom: 14px;
    color: #707070;
    font-size: 30px;
  }

  .img-frame{
    margin-right: 10px;
    width: 20px;
  }
  .nav-head{
    padding-bottom: 18px;
    padding-top: 18px;
  }
  .search-icon{
    width: 33px;
    height: 32px;
    margin-right: 18px;
    margin-left: 11px;
  }


  @media (max-width: 422px) {

    .container-img-thumbnail {
        display: none;
    }

    .card {
        margin-bottom: 3em;
    }

    .perfil-text {
        font-size: 20px;
    }

    .border-left {
        padding-left: 0; 
    }


    .container-reconocimiento {
        padding: 4em 0 !important;
    }


    .text-modal-header {
        font-size: 22px !important;
        margin: 6px !important;
    }

  }


  @media (max-width: 578px) {
  
    .menu-item {
        padding: 8px !important;
        font-size: 12px !important;
    }

    .menu-item-text {
        font-size: 13px !important;
        margin-left: 5px !important;
    }

    .menu-icons img {
        max-width: 20px !important;
    }

    .details {
        font-size: 23px !important;
    }


    .detalle {
        font-size: 16px !important;
    }


    .card-text {
        font-size: 14px !important;
    }

    .text {
        font-size: 20px;
    }

    .perfil-descripcion {
        font-size: 17px;
    }

  }


  @media (max-width: 708px) {

    .search {
        text-align-last: center;
    }

    .busqueda {
        display: grid;
        justify-items: center;
        gap: 1em;
    }
     
    .form-buscar {
        grid-auto-flow: row !important;
        gap: 2em;
    }


    .contenedor-reconocimiento-2 {
        display: grid !important;
        justify-items: left;
        gap: 2em;
    }


    .modal {
        position: relative !important;
        top: -411px !important;
    }

  }


  @media (max-width: 768px) {
    .icon-filtrar {
        display: none !important;
    }

    .card {
        margin-bottom: 3em;
    }

    .encabezado-card-perfil,
    .encabezado-card-2-perfil,
    .encabezado-card-3-perfil{
        font-size: 19px !important;
        padding: 0px 0em !important;
    }

  }


  @media (max-width: 991px) {

    .boton-busqueda-reconocimiento {
        font-size: 16px !important;
    }

    .icon-filtrar {
        margin-right: -2px !important;
    }

    .encabezado-card-perfil,
    .encabezado-card-2-perfil,
    .encabezado-card-3-perfil{
        font-size: 15px;
        padding: 0 4em;
    }

  }

  
@media (max-width: 950px) {
    .encabezado-card-perfil,
    .encabezado-card-2-perfil,
    .encabezado-card-3-perfil{
        font-size: 15px;
        padding: 0 4em;
    }
}


@media (max-width: 1199px) {
    .encabezado-card-perfil,
    .encabezado-card-2-perfil,
    .encabezado-card-3-perfil{
        font-size: 16px;
        padding: 0 3em;
    }
}