.menu-main{
	display: flex;
}

.menu-content{
	display: flex;
}


.menu-item{
	display: flex;
	padding: 10px 20px;
    align-items: center;
    text-decoration: none;
}




.menu-icons img{
	max-width: 35px;
}
.menu-item img:first-child{
	display: block;
}
.menu-item img:last-child{
	display: none;
}
.menu-item:hover img:first-child,
.menu--is-active img:first-child{
	display: none !important;
}
.menu-item:hover img:last-child,
.menu--is-active img:last-child{
	display: block !important;
}
.menu-icons{
	display: flex;
}
.menu-item-text{
	color: #7d7d7d;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}

.menu--is-active .menu-item-text{
	color: var(--color-terciary)
}