
 .container-info-perfil {
   margin: 3em 1em 0;
 }


.card-compromiso{
	background-image: url(../../../../Images/Reconocimiento/perfil/circle-compromiso.svg);
	background-position: center;
	
}


.card-compromiso-title{
	font-size: 40px;
	font-weight: bold;
	color: #346f7a
}
.card-compromiso-subtitle{
	font-size: 15px;
	color: #7d7d7d

}

.perfil-list{
	list-style: none;
	margin:0;
	padding: 0
}


.card-orientacion{
	background-image: url(../../../../Images/Reconocimiento/perfil/circle-orientacion.svg);
	background-position: center;
	
}


.card-orientacion-title{
	font-size: 40px;
	font-weight: bold;
	color: #da8a32
}
.card-orientacion-subtitle{
	font-size: 15px;
	color: #7d7d7d

}



.card-liderazgo{
	background-image: url(../../../../Images/Reconocimiento/perfil/circle-liderazgo.svg);
	background-position: center;
	
}


.card-liderazgo-title{
	font-size: 40px;
	font-weight: bold;
	color: #E84555
}
.card-liderazgo-subtitle{
	font-size: 15px;
	color: #7d7d7d

}

.perfil-card{
	max-width: inherit;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}




.modal-aplauso{
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-content: center;
	top: 0;
	left: 0;
	background: #fbfbfbf0;
	align-items: center;
	overflow: hidden;
}
.modal-aplauso-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
}
.modal-aplauso--is-img{
	width: 100%;
	max-width: 300px;
}

.buttons{
	width: auto;
	padding: 20px 40px;
	box-sizing: border-box;
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	transition: all .3s ease;
	text-decoration: none;
    cursor: pointer;
    transition: all .2s ease;
}
.button-primary:hover{
	background: #336F7B;
	color: white;
}
.button-primary{
    background: #F4FDFF;
    border: 2px solid #336F7B;
    color: #336F7B;
}
.button-secondary:hover{
	background: #E1923E;
	color: white;
}
.button-secondary{
    background: #FFFCFA;
    border: 2px solid #E1923E;
    color: #E1923E;
}

.modal-buttons{
	display: flex;
	margin-top: 20px;
	width: 100%;
	justify-content: space-around;
}


.modal-animation{
	transition: all .3s ease;
	opacity:0;
	transform: scale(0) translate(0%,200%);
}

.mostrar{
	opacity:1;
	transform: scale(1) translate(0, 0%);
	transform-origin: bottom;
}

.mostrar-2 {
	opacity: 1 !important;
	display: block !important;
}

.site-perfil {
	position: initial !important;
}

.border-left{
	font-family:'Roboto';
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 59px;
/* identical to box height */


color: #336F7B;
}






