.reporte-table{
  background: white;
}

.boton-reporte{
    background: #FFFFFF;
border: 1px solid #707070;
box-sizing: border-box;
border-radius: 5px;
}

.span5-reconocimiento{
  width: 213px;
  height: 51px;
  position: relative;
  /* left: 15%; */
  /* top: 0; */
  background: #FFFFFF;
  border: 1px solid #707070;
  box-sizing: border-box;
  border-radius: 5px;
  text-align-last: center;
  color: #006F7A;
  margin-right: 15px;
  font-size: 20px !important
}
.display{
    display: flex;
}

.main-container-reconocimiento {
text-align: left;
}

.container-reconocimiento{
    padding-top: 52px;
    margin: 0 auto;

}

.contenedor-reconocimiento-2{
    /* align-self: center; */
    /* display: flex; */
    /* align-items: center; */
    display: flex;
}
.form-reconocimiento{
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;

color: #707070;
}

.boton-busqueda-reconocimiento{
  width: 166px;
  height: 51px;
  position: relative;
  top: 0;
  background: #F4FDFF;
  border: 2px solid #336F7B;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #336F7B;
}
.boton-busqueda-reconocimiento-reporte{
  width: 166px;
  height: 51px;
  position: relative;
  top: 0;
  background: #F4FDFF;
  border: 2px solid #336F7B;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #336F7B;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reconocimiento-p{
    display: flex;
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
margin-right: 13px;
color: #006F7A;
}
@media (min-width: 768px) {
    .form-search .combobox-container,
    .form-inline .combobox-container {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: top;
    }
    .form-search .combobox-container .input-group-addon,
    .form-inline .combobox-container .input-group-addon {
      width: auto;
    }
  }
  
  .combobox-selected .caret {
    display: none;
  }
  
  
  /* :not doesn't work in IE8 */
  
  .combobox-container:not(.combobox-selected) .glyphicon-remove {
    display: none;
  }
  
  .typeahead-long {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .control-group.error .combobox-container .add-on {
    color: #B94A48;
    border-color: #B94A48;
  }
  
  .control-group.error .combobox-container .caret {
    border-top-color: #B94A48;
  }
  
  .control-group.warning .combobox-container .add-on {
    color: #C09853;
    border-color: #C09853;
  }
  
  .control-group.warning .combobox-container .caret {
    border-top-color: #C09853;
  }
  
  .control-group.success .combobox-container .add-on {
    color: #468847;
    border-color: #468847;
  }
  
  .control-group.success .combobox-container .caret {
    border-top-color: #468847;
  }

  .icon-filtrar{
    width: 20px;
    height: 24px;
    margin-right: 11px;
  }

  .icon-exportar{
    width: 34px;
height: 38px;
margin-right: 18px;
  }
  .btn-ver-mas{
    background: #FFFFFF;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 5px;
    color: #F0A85B;
    display: block;
    margin: 0 auto
  }
  .text-modal{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    color: #7A7A7A;
    padding-top: 0;
    margin-top: 0;

  }
  .text-modal-header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
/* identical to box height */
    color: #006F7A;
    padding: 0;
    margin: 0;
    display: block;
  }

  .modal-header-1{
    display: flex;
    padding: 20px;
  }

  .btn-cerrar{
    width: 220px;
height: 83px;
left: 974px;
top: 889px;

background: #F4FDFF;
border: 2px solid #336F7B;
box-sizing: border-box;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #336F7B;
  }
  .modal-footer-1{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    /* border-top: 1px solid #dee2e6; */
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);

  }

.ver-mas{
  color: var(--color-secondary);
  cursor: pointer;
  display: inline-block;

}

.reporte-table thead{
      background: #006F7A;
    color: white;
}

.container-table{
  margin-top: 0px !important;
  overflow-x: auto;
}


.btn--is-close {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background: no-repeat;
  border: 0;
  cursor: pointer;
}
.btn--is-close:hover {
  opacity: 1;
}
.btn--is-close:before, .btn--is-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 100%;
  width: 2px;
  background-color: var(--color-primary);
}
.btn--is-close:before {
  transform: rotate(45deg);
}
.btn--is-close:after {
  transform: rotate(-45deg);
}
